@model WebApplication2.Models.BuyOrderDetail

@{
    ViewData["Title"] = "Create";
}
<div class="container" style="padding-left:10%;margin-left:7%;">
<h1>Create</h1>

<h4>BuyOrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quentite" class="control-label"></label>
                <input asp-for="Quentite" class="form-control" />
                <span asp-validation-for="Quentite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTotal" class="control-label"></label>
                <input asp-for="ItemTotal" class="form-control" />
                <span asp-validation-for="ItemTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PruductId" class="control-label"></label>
                <input asp-for="PruductId" class="form-control" />
                <span asp-validation-for="PruductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorderId" class="control-label"></label>
                <input asp-for="BorderId" class="form-control" />
                <span asp-validation-for="BorderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>