@model WebApplication2.Models.SellOrderDetail

@{
    ViewData["Title"] = "Edit";
}
<div class="container" style="padding-left:10%;margin-left:7%;">
<h1>Edit</h1>

<h4>SellOrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Quentite" class="control-label"></label>
                <input asp-for="Quentite" class="form-control" />
                <span asp-validation-for="Quentite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTotal" class="control-label"></label>
                <input asp-for="ItemTotal" class="form-control" />
                <span asp-validation-for="ItemTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdectId" class="control-label"></label>
                <input asp-for="ProdectId" class="form-control" />
                <span asp-validation-for="ProdectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SorderId" class="control-label"></label>
                <input asp-for="SorderId" class="form-control" />
                <span asp-validation-for="SorderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>