@model WebApplication2.Models.SellOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SellOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountValue" class="control-label"></label>
                <input asp-for="DiscountValue" class="form-control" />
                <span asp-validation-for="DiscountValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrecentage" class="control-label"></label>
                <input asp-for="DiscountPrecentage" class="form-control" />
                <span asp-validation-for="DiscountPrecentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeforDiscountTotal" class="control-label"></label>
                <input asp-for="BeforDiscountTotal" class="form-control" />
                <span asp-validation-for="BeforDiscountTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfterDiscount" class="control-label"></label>
                <input asp-for="AfterDiscount" class="form-control" />
                <span asp-validation-for="AfterDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
